/* Typography tweaks */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: @headingMargin!important;
    margin-bottom: @headingMargin!important;
}

main p {
  margin-top: 0!important;
  margin-bottom: 0!important;
}
